@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "AddEmployee";
}

<link href="~/Content/AddEmployee.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="card">
        <h5>👤 Add Employee</h5>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">Name</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. Muhammad Osama" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. abc@gmail.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Gender" class="form-label">Gender</label>
                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. Male" } })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Age" class="form-label">Age</label>
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. 20" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Address" class="form-label">Address</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. Street, City" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Phone" class="form-label">Phone</label>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. 03072799307" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Designation" class="form-label">Designation</label>
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. Software Engineer" } })
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Department" class="form-label">Department</label>
                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. IT" } })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Salary" class="form-label">Salary</label>
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", placeholder = "ex. 150000" } })
                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="Password" class="form-label">Password</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "ex. abc.123" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "ex. abc.123" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-center mt-4">
                <input type="submit" value="Add Employee" class="btn btn-submit" />
            </div>
        }

        <a href="@Url.Action("Index", "Home")" class="back-link">Back to Home</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
